#textdomain wesnoth-The_Legend_Begins

[race]
    id=ancient
    male_name= _ "race^Ancient Being"
    female_name= _ "race+female^Ancient Being"
    plural_name= _ "race^Ancient Beings"
    description= _ "Beings of the archaic realm, only few of this race still exist in the world of Irdya. Encountering one is like the greatest honor a person may ever receive."
    {OGRE_NAMES}
    num_traits=0
    ignore_global_traits=yes
[/race]

{~add-ons/The_Legend_Begins/units/fake}