#textdomain wesnoth-The_Legend_Begins

# VAMPIRE CASTLE

{DISABLE_BASE_TRANSITIONS  (Cvj,Kvj)}
{KEEP_BASE               Kvj                                                     vampire/cobbles-keep}
{KEEP_BASE               Cvj                                                   vampire/road}
{NEW:WALL     Cvj                 (!,Cvj,Kvj)                      vampire/castle}
{NEW:WALL2     Kvj                 Cvj             (!,Cvj,Kvj)      vampire/keep-castle}
{NEW:WALL     Kvj                 (!,Kvj)                          vampire/keep}

{TRANSITION_COMPLETE_LF (Cvj,Kvj)             Qxe                   -89    transition2   chasm/earthy-castle}
{TRANSITION_COMPLETE_LF (Cvj,Kvj)             Qx*                   -89    transition2   chasm/regular-castle}
{TRANSITION_COMPLETE_LF (Cvj,Kvj)             Ql*                   -89    transition2   unwalkable/castle-lava-chasm}

# ELVISH DRY CASTLE

{TERRAIN_BASE            Cvz                   elvish-castle-ground-dry}
{NEW:WALL                Cvz         (!,C*,K*) castle/elven/castle}

# LAVA (CUSTOM)

{ANIMATED_WATER_15          Qlfz    ()                     150                    unwalkable/lava}
{WALL_TRANSITION2_LF        Ql      Qx*,Xv,_off^_usr      (!,Ql,Qx*)   -90 ground unwalkable/lava-chasm}
{WALL_TRANSITION2_LF        Qlfz    Qx*,Xv,_off^_usr      (!,Ql*,Qx*)  -90 ground unwalkable/lava-chasm}
{WALL_TRANSITION_LF         Ql      (!,Ql,Xv,_off^_usr)                -90 ground unwalkable/lava}
{WALL_TRANSITION_LF         Qlf*    (!,Qlf*,Xv,_off^_usr)              -90 ground unwalkable/lava-high}

#define CUSTOM_DISABLE_WALL_TRANSITIONS_F TERRAIN FLAG
    [terrain_graphics]
        [tile]
            x=0
            y=0
            type={TERRAIN}
            set_flag={FLAG}-tl,{FLAG}-tr,{FLAG}-bl,{FLAG}-br,{FLAG}-r,{FLAG}-l
        [/tile]
    [/terrain_graphics]
#enddef

{CUSTOM_DISABLE_WALL_TRANSITIONS_F Qlfz                                           ground}

# BLOOD (VAMPIRE LANDS SPECIAL)

#define BLOODY
"~CS(75,-255,-255)"#enddef

{ANIMATED_WATER_15        Wwb                {BLOODY}        110  water/coast-tropical}
{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -553 {BLOODY} 110 water/coast-tropical-long}
{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -559 {BLOODY} 110 water/coast-tropical-long}

# MAGIC CIRCLE AND RUNES

# Summoning circle graphics
{OVERLAY *^Sc magic/circle-magic-glow}
{OVERLAY *^Sct magic/circle-magic-turquoise-glow}

# Runic graphics

# Ansuz Runes
{OVERLAY *^Sra magic/rune1-glow}
{OVERLAY *^Srat magic/rune1-turquoise-glow}

# Jēran Runes
{OVERLAY *^Srj magic/rune2-glow}
{OVERLAY *^Srjs magic/rune3-glow}
{OVERLAY *^Srjt magic/rune2-turquoise-glow}
{OVERLAY *^Srjl magic/rune3-turquoise-glow}

# Gar Runes
{OVERLAY *^Srg magic/rune4-glow}
{OVERLAY *^Srgt magic/rune4-turquoise-glow}

# Stan Runes
{OVERLAY *^Srs magic/rune5-glow}
{OVERLAY *^Srst magic/rune5-turquoise-glow}

# Othila Runes
{OVERLAY *^Sro magic/rune6-glow}
{OVERLAY *^Srot magic/rune6-turquoise-glow}

# Portals
{OVERLAY *^Pzo props/portal-open}
{OVERLAY *^Pzd props/portal-destroyed}