#textdomain wesnoth-The_Legend_Begins
[scenario]
    id="3_The_Misty_Forest"
    name= _ "The Misty Forest"
    next_scenario="4_Approaching_the_Academy"
    map_data="{~add-ons/The_Legend_Begins/maps/episode-1/03_The_Misty_Forest.map}"

    {DEFAULT_SCHEDULE_MORNING}
    {SADIA_CUSTOM_ADVANCEMENT}

    {DEFAULT_MUSIC_PLAYLIST}
    
    [story] 
       [part]
          music="underground.ogg"
          story= _ "Taking leave of the goblin chief, our heroes continued their journey northwards. With the help of the goblin scouts, they were able to quickened their pace and when the seventh morning approached, they had arrived at the edge of a forest."
       [/part]
       [part]
          story= _ "Jahin, whose mother had taught him the early history of the city, was astonished. His mother had never said anything about a forest between Genesis and the Academy..."
       [/part]
    [/story]

    [side]
       side=1
       team_name="good"
       user_team_name= _ "Refugees"
       id="Jahin"
       fog=yes
       name= _ "Jahin"
       {FLAG_VARIANT ragged}
       type="Captain"
       canrecruit=yes
       controller=human
       {GOLD 0 0 0}
       {INCOME 2 1 0}
    [/side]

    [side]
       side=2
       team_name="orc_alliance"
       user_team_name= _ "Orcs"
       id="Orc1"
       generate_name=yes
       type="Orcish Warrior"
       {GOLD 200 220 250}
       {INCOME 0 1 2}
       recruit="Orcish Crossbowman,Orcish Archer,Orcish Grunt,Wolf Rider"
       controller=ai
       {FLAG_VARIANT ragged}
       canrecruit=yes
       [ai]
          {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,archer,scout,fighter,fighter,archer"}
          {AI_SIMPLE_ALWAYS_ASPECT passive_leader "no"}
          {AI_SIMPLE_ALWAYS_ASPECT grouping "offensive"}
          {AI_SIMPLE_ALWAYS_ASPECT aggression "1.00"}
          {AI_SIMPLE_ALWAYS_ASPECT leader_value "3"}
          {AI_SIMPLE_ALWAYS_ASPECT caution "0.2"}
          {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_combat "no"}
       [/ai]
    [/side]

    {STARTING_VILLAGES 2 4}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Orcish Crossbowman" 2}

    [side]
       side=3
       team_name="vampire"
       user_team_name= _ "Vampires"
       id="Vampire"
       {FLAG_VARIANT loyalist}
       generate_name=yes
       type="Day Hunter"
       gender=female
       {GOLD 200 220 250}
       {INCOME 0 1 2}
       recruit="Vampire Duelist,Half Blood,Fledgeling,Thin Blood,True Vampire Bat"
       [ai]
          {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,archer,scout,fighter,fighter,archer"}
          {AI_SIMPLE_ALWAYS_ASPECT passive_leader "no"}
          {AI_SIMPLE_ALWAYS_ASPECT grouping "offensive"}
          {AI_SIMPLE_ALWAYS_ASPECT aggression "1.00"}
          {AI_SIMPLE_ALWAYS_ASPECT leader_value "3"}
          {AI_SIMPLE_ALWAYS_ASPECT caution "0.2"}
          {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_combat "no"}
       [/ai]
   [/side]

   {STARTING_VILLAGES 3 4}

   {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Vampire Duelist" 2}
   {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Half Blood" 2}

   {TIME_OVER_DEFEAT}
   {TURNS 25 22 20}
   {~add-ons/The_Legend_Begins/macros/deaths.cfg}
   {MAHIR_EARLY_DEATH}

   [event]
      name="prestart"
      [objectives]
          [objective]
              description= _ "Defeat both enemy leaders"
              condition="win"
          [/objective]
          [objective]
              description= _ "Death of Jahin"
              condition="lose"
          [/objective]
          [objective]
              description= _ "Death of a hero unit"
              condition="lose"
          [/objective]
          {TURNS_RUN_OUT}

          [gold_carryover]
              carryover_percentage="40"
              bonus=yes
          [/gold_carryover]
      [/objectives]
   [/event]

   [event]
      name="enemies defeated"
      [message]
          speaker="Jahin"
          message= _ "We have rid these forests of invaders! Now, we can have a little rest before continuing our journey."
      [/message]
      [message]
          speaker="Ariana"
          message= _ "Where do you plan on going exactly?"
      [/message]
      [message]
          speaker="Jahin"
          message= _ "The Academy."
      [/message]
      [message]
          speaker="narrator"
          image="wesnoth-icon.png"
          message= _ "Both mages flinched at the mention of the word."
      [/message]
      [message]
          speaker="Ariana"
          message= _ "The <i>Academy</i>? Why do you want to go there?"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "We want them to help us protect our city from future attacks."
      [/message]
      [message]
         speaker="Ariana"
         message= _ "We could take you there, but I doubt that they would help you."
      [/message]
      [message]
         speaker="Sadia"
         message= _ "Ariana, can I talk to you for a minute?"
      [/message]
      {MOVE_UNIT (id="Sadia") 1 1}
      {MOVE_UNIT (id="Ariana") 2 1}
      [message]
         speaker="Sadia"
         message= _ "<i>(whispers to Ariana) Have you gone mad? You know they've banished us! Why are you willing to take them there!</i>"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "<i>(whispers to Sadia) I know that. But, I think that Jahin boy is really cute. I want to make a good impression on him.</i>"
      [/message]
      [message]
         speaker="Sadia"
         message= _ "<i>(whispers to Ariana) You and your tastes in men. I find that Fardin more attractive than him. I do suppose we could take them there then.</i>"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "Ladies?"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Let's rest for a day and then start. Okay?"
      [/message]
      [message]
         speaker="Maruful"
         message= _ "We are awfully tired, so this is a good idea, but what have you got to eat around here?"
      [/message]
      [fire_event]
         name="victory"
      [/fire_event]
   [/event]

   [event]
      name="victory"
      [endlevel]
          result="victory"
          {NEW_GOLD_CARRYOVER 40}
          bonus=yes
      [/endlevel]
   [/event]

# start event
   [event]
      name="start"
      [recall]
         id="Maruful"
      [/recall]
      [recall]
         id="Rider2"
      [/recall]
      [recall]
         id="Rider1"
      [/recall]
      [recall]
         id="Fardin"
      [/recall]
      [recall]
         id="Affan"
      [/recall]
      [recall] 
         id="Ashhab"
      [/recall]
      [recall]
         id="Nog"
      [/recall]
      [recall]
         id="Krog"
      [/recall]
      [recall]
         id="Mahir"
      [/recall]

      [message]
         speaker="Fardin"
         message= _ "What a dense forest!"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "This is what troubles me..."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "Why?"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "My mother told me about this route. She never mentioned anything about this forest."
      [/message]
      [message]
         speaker="Maruful"
         message= _ "A mysterious forest? Let's investigate that village!"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "Wait!"
      [/message]
      {MOVE_UNIT (id="Maruful") 14 19}
      [unit]
         animate=yes
         side=1
         id="Ariana"
         unrenameable=yes
         name= _ "Ariana"
         x,y=13,19
         profile="portraits/ariana.png"
         type="Wood Mage"
         {IS_HERO}
         [modifications]
              {TRAIT_LOYAL}
              {TRAIT_DEXTROUS}
              {TRAIT_QUICK}
         [/modifications]
      [/unit]
      [unit]
         animate=yes
         side=1
         gender=female
         unrenameable=yes
         x,y=16,19
         profile="portraits/sadia.png"
         id="Sadia"
         name= _ "Sadia"
         type="Mage"
         {IS_HERO}
         [modifications]
              {TRAIT_LOYAL}
              {TRAIT_INTELLIGENT}
         [/modifications]
      [/unit]

      [modify_unit]
         [filter]
            id="Sadia"
         [/filter]
         advances_to="Red Mage"
      [/modify_unit]

      {LOYAL_UNIT 1 "Vine Beast" 11 20}
      {LOYAL_UNIT 1 "Ethereal Orb" 18 19}
      {LOYAL_UNIT 1 "Kobold" 10 21}

      [message]
         speaker="Sadia"
         message= _ "Die vampire!"
      [/message]
      {MOVE_UNIT (id="Jahin") 14 20}
      [message]
         speaker="Jahin"
         message= _ "Wait, he means you no harm!"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Wait, you guys aren't vampires! You're humans, like us."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "Indeed we are."
      [/message]
      [message]
         speaker="Jahin"
         message= _ "Hello, my name is Jahin and we come from the city of Genesis."
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Genesis? You mean the city that fell to the vampires?"
      [/message]
      [message]
         speaker="Jahin"
         message= _ "Yes, we broke free of them and made our way through here."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "So, what are damsels like you two doing in these woods?"
      [/message]
      [message]
         speaker="Sadia"
         message= _ "Well, we live..."
      [/message]
      [message]
         speaker="Orc1"
         message= _ "Vampire! Prepare to die if you are not dead already!"
      [/message]
      [message]
         speaker="Vampire"
         message= _ "Stupid orc, you should kill yourself and spare me the trouble!"
      [/message]
      [message]
         speaker="Maruful"
         message= _ "Vampires and orcs! We're too tired to fight! Let's hide!"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Maybe you guys are but my elementals aren't."
      [/message]
      [message]
         speaker="Jahin"
         message= _ "<i>Elementals?</i>"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Allow me to summon some more."
      [/message]
      [message]
         speaker="narrator"
         image="wesnoth-icon.png"
         message= _ "You may recruit the elementals!"
      [/message]
      [set_recruit]
         side="1"
         recruit="Vine Beast,Kobold,Wisp"
      [/set_recruit]
      
      [message]
         speaker="narrator"
         image="units/human-magi/wood-mage.png~RC(magenta>red)"
         message= _ "Ariana is a wood mage. She has a moderate range attack and great forest mobility. But don't leave her unguarded as she cannot defend herself against enemies alone. Her presence allows you to recruit <i>Vine Beasts</i> and <i>Kobolds</i>. She can also summon <i>Wisps</i>, which can gain experience to transform into the other elemental forms."
      [/message]
      [message]
         speaker="narrator"
         image="units/human-magi/mage+female.png~RC(magenta>red)"
         message= _ "Unlike her friend Ariana, Sadia lacks the ability to call forth elementals, but she can zap enemies with her magic. Like her friend, she too, needs to be guarded. For the course of this campaign, Sadia can advance to a Red Mage, afterwards to a Arch Mage and finally, to a Great Mage."
      [/message]

      # Give the player some gold, as he has none of it

      [sound]
          name="gold.ogg"
      [/sound]
      [message]
          speaker="narrator"
          image="wesnoth-icon.png"
          message= _ "You receive some pieces of gold."
      [/message]

      #ifdef EASY
      [gold]
         side=1
         amount="70"
      [/gold]
      #endif

      #ifdef NORMAL
      [gold]
         side=1
         amount="60"
      [/gold]
      #endif

      #ifdef HARD
      [gold]
         side=1
         amount="50"
      [/gold]
      #endif

      [scroll_to_unit]
            id="Jahin"
      [/scroll_to_unit]
   [/event]

[/scenario]