#textdomain wesnoth-The_Legend_Begins
[scenario]
   id="23x_Mysterious_Stranger"
   name= _ "Mysterious Stranger"
   next_scenario="24_The_Passing_of_Barus"
   map_data="{~add-ons/The_Legend_Begins/maps/episode-1/23x_Mysterious_Stranger.map}"

   victory_when_enemies_defeated=no
   turns=1

   {SCHEDULE_MIDNIGHT}

   {DEFAULT_MUSIC_PLAYLIST}

   [story]
      [part]
         music="underground.ogg"
         story= _ "Conquering Korutag gave a huge advantage to the allies. Now, they had the mighty ogres and orcish magic casters to support their attacks. In addition, the small army of recruits that had joined Jahin during his quests had grown to be a hardened army, which could overcome almost any foe."
      [/part]
      [part]
         story= _ "The allies returned to Gartok in four days and battle plans were made during the night of the fourth day. It was decided that the allies would begin the march towards Cavan when the first rays of dawn would be seen."
      [/part]
      [part]
         story= _ "The night was spent on either readying weapons and supplies or resting. The orcs who were originally inside the huts had now began to come out and arm themselves for the coming battle as Ruk, the elder shaman, had notified them of Barus' betrayal to them."
      [/part]
      [part]
         story= _ "Jahin sat by the fire, sharpening his sword, which had grown dull due to lack of maintenance. Ariana, who was sitting beside him, began a conversation..."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Jahin, what do you plan to do when this is over?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Take a short nap, I guess."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "No, I meant the war."
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "I never thought of it that far. Besides, this war is far from over."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Have the thoughts of love not crossed your mind?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Love? Nah, no girl would ever want me. They prefer brawny men, and I am neither."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Jahin, that is nonsense! Not all girls are like that. Some prefer men who are smart and mysterious, such as yourself."
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Mysterious? In what way am I puzzling to them?"
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Well, for starters, I see that you keep to yourself and rarely talk to the others."
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Firstly, I have difficulties when it comes to trusting people. Secondly, I mostly kept to myself after the vampires murdered my mother and I have been like that for quite some time now."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "I am sorry to hear the fate that fell upon your mother. Is that why you hate the vampires so much?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Yes, that is the reason why I loathe the vampires and I want to make sure that no one else suffers that fate ever again, but to do that, I must defeat the vampires."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "I understand your hatred, but I have another question to ask you. Do you trust me?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Of course I do. You have been my friend long enough to earn my confidence."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "If you trust me, then would you mind telling me if you have an affection or ardent love for someone back home?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "No, I do not. All the girls back home ignored me and my father did not even want me as a son."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Okay, how about a girl, who is not from Genesis, but from elsewhere? We have met many on our journey."
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Now that you mention it, there is this one girl whom I care for."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Would you like to tell me about her?"
      [/part]

      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "Well, she is very beautiful and intelligent, and we could not have come this far if it was not for her elemental summoning powers."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "Are you referring to me?"
      [/part]
      [part]
         scale_background=no
         background="portraits/jahin.png"
         story={CAPTION ( _ "Jahin")}+  _ "<i>(blushing)</i> I am sorry to end this discussion so abruptly, but it is time for me to call it a night. Good night and see you tomorrow."
      [/part]
      [part]
         story= _ "Jahin sheathes his sword and hastily retires to his tent..."
      [/part]
      [part]
         scale_background=no
         background="portraits/ariana.png"
         story={CAPTION ( _ "Ariana")}+  _ "<i>(thinking)</i> I knew it! Jahin is in love with me! I cannot wait to tell Sadia about this..."
      [/part]
      [part]
         story= _ "Daybreak arrived within a few hours and the armies of the alliance began the march towards Cavan and by the end of the first day they had reached the heart of the forest that lay between the cities of Gartok and Cavan."
      [/part]
      [part] 
         story= _ "By nightfall, tents were pitched and the allied leaders ventured a fair distance from the campsite to hold a brief council before the marching continued..."
      [/part]
   [/story]

   [side]
      side=1
      team_name="good"
      user_team_name= _ "Northern Allies"
      id="Jahin"
      controller=human
      {FLAG_VARIANT ragged}
      canrecruit=yes
      name= _ "Jahin"
      type="Warmaster"
      gold=0
      income=-2
      share_map="no"
      share_view="yes"
   [/side]

   [side]
      side=2
      {FLAG_VARIANT ragged}
      team_name="orcs"
      user_team_name= _ "Assassins"
      no_leader=yes
   [/side]

   [side]
      side=3
      {FLAG_VARIANT ragged}
      team_name="orcs"
      user_team_name= _ "Assassins"
      no_leader=yes
   [/side]
   [side]
      side=4
      {FLAG_VARIANT ragged}
      team_name="orcs"
      user_team_name= _ "Assassins"
      no_leader=yes
   [/side]
   [side]
      side=5
      {FLAG_VARIANT ragged}
      team_name="orcs"
      user_team_name= _ "Assassins"
      no_leader=yes
   [/side]
   [side]
      side=6
      {FLAG_VARIANT ragged}
      team_name="orcs"
      user_team_name= _ "Assassins"
      no_leader=yes
   [/side]

   [side]
      side=7
      controller=human
      team_name="good"
      color=pink
      user_team_name= _ "Northern Allies"
      gold=0
      income=-2
      recruit="Orcish Warrior,Orcish Grunt,Orcish Shaman,Orcish Archer,Orcish Crossbowman,Orcish Assassin,Wolf Rider,Goblin Cavalry,Young Ogre"
      share_view=yes
      profile="portraits/kojac.png"
      fog=yes
      share_map=no
      save_id=Kojac
      id="Kojac"
      name= _ "Kojac"
      type="Orcish Slurbow"
      [modifications]
         {TRAIT_STRONG}
         {TRAIT_QUICK}
      [/modifications]
      canrecruit=yes
   [/side]

   [side]
      side=8
      controller=human
      team_name="good"
      color=yellow
      user_team_name= _ "Northern Allies"
      gold=0
      fog=yes
      income=-2
      recruit="Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Marksman,Elvish Scout"
      hidden=yes
      save_id=Galec
      no_leader=yes
      [modifications]
         {TRAIT_STRONG}
         {TRAIT_QUICK}
      [/modifications]
   [/side]

   [side]
      side=9
      color=cyan
      controller=human
      team_name="good"
      user_team_name= _ "Northern Allies"
      gold=0
      income=-2
      no_leader=yes
      recruit="Troll Whelp,Troll Mystic,Troll Rocklobber,Troll,Saurian Skirmisher,Saurian Augur,Saurian Ambusher"
      hidden=yes
      save_id=Krog
      [modifications]
         {TRAIT_STRONG}
         {TRAIT_FEARLESS}
      [/modifications]
   [/side]

   [event]
      name="prestart"
      
      {CLEAR_VARIABLE jahin_moved}
      {CLEAR_VARIABLE kojac_moved}

      [unstore_unit]
          variable="galec_var"
          x,y=5,5
      [/unstore_unit]

      [unstore_unit]
          variable="krog_var"
          x,y=5,8
      [/unstore_unit]

      {CLEAR_VARIABLE stored.jahin,stored.kojac,galec_var,krog_var}

      # Restore the recall lists of Galec and Krog

      {FOREACH elven_recalls i}
         [unstore_unit]
             variable=elven_recalls[$i]
         [/unstore_unit]
      {NEXT i}
      
      {CLEAR_VARIABLE elven_recalls}

      {FOREACH troll_recalls i}
         [unstore_unit]
             variable=troll_recalls[$i]
         [/unstore_unit]
      {NEXT i}

      {CLEAR_VARIABLE troll_recalls}
   [/event]
   
   [event]
      name="start"
      [message]
         speaker="Galec"
         message= _ "Our greatest battle shall be upon us within a day's time. Kojac, have you any information regarding the city of Cavan?"
      [/message]
      [message]
         speaker="Kojac"
         message= _ "I have never been there myself, but I have heard stories about it being heavily fortified and occupied by the majority of Barus' army. Conquering it would cost us many soldiers."
      [/message]
      [delay]
         time=750
      [/delay]
      [message]
         speaker="Jahin"
         message= _ "Wait...I saw something amongst the trees...Ready your weapons, friends."
      [/message]
      [message]
         speaker="narrator"
         image="wesnoth-icon.png"
         message= _ "The leaders quickly shifted to a battle stance..."
      [/message]

      [delay]
         time=750
      [/delay]

      #define ASSASSIN SIDE TYPE ID_STRING X Y
      [unit]
         side={SIDE}
         type={TYPE}
         x,y={X},{Y}
         id={ID_STRING}
         name= _ {ID_STRING}
         animate=yes
         random_traits=yes
      [/unit]
      #enddef
      
      {ASSASSIN 2 "Orcish Nightblade" "Blade" 10 3}
      {ASSASSIN 2 "Orcish Slayer" "Vroc" 10 6}
      {ASSASSIN 2 "Orcish Assassin" "Crux" 10 9}
      {ASSASSIN 2 "Orcish Slayer" "Zam" 8 9}
      {ASSASSIN 2 "Orcish Slayer" "Yobyn" 3 9}
      {ASSASSIN 2 "Orcish Nightblade" "Xylo" 4 3}
      {ASSASSIN 2 "Orcish Assassin" "Zoc" 2 5}

      [message]
         speaker="Jahin"
         message= _ "Assassins!"
      [/message]
      [message]
         speaker="Kojac"
         message= _ "Don't let them outnumber you!"
      [/message]
      [message]
         speaker="Blade"
         message= _ "Silence, human scum! We have come, by the order of Barus the Mighty, to slay you. Thus, do you have any last words?"
      [/message]
      [message]
         speaker="Galec"
         message= _ "What a coward! He sends assassins to do his dirty work!"
      [/message]
      [delay]
         time=350
      [/delay]
      [message]
         speaker="narrator"
         image="wesnoth-icon.png"
         message= _ "Suddenly a dark mist covers the area."
      [/message]
      {FADE_TO_BLACK}
      [delay]
         time=350
      [/delay]
      [message]
         speaker="Jahin"
         message= _ "What the hell is this?"
      [/message]
      [kill]
         side=2
         animate=yes
      [/kill]
      [delay]
         time=350
      [/delay]
      {FADE_IN}
      [delay]
         time=150
      [/delay]
      [recall]
         id="Fardin"
         x,y=20,5
      [/recall]
      {MOVE_UNIT (id="Fardin") 13 10}
      [recall]
         id="Sadia"
         x,y=20,5
      [/recall]
      {MOVE_UNIT (id="Sadia") 16 8}
      [recall]
         id="Ariana"
         x,y=20,5
      [/recall]
      {MOVE_UNIT (id="Ariana") 18 2}
      [message]
         speaker="Sadia"
         message= _ "Is everybody alright? We heard the sounds of a struggle."
      [/message]
      [message]
         speaker="Jahin"
         message= _ "We were beset by assassins when this dark fog appeared out of the blue and killed them all."
      [/message]
      [message]
         speaker="Ariana"
         message= _ "a dark mist? Of course, it's a spell! Only a mage versed well in the dart arts could have casted that!"
      [/message]
      [message]
         speaker="Sadia"
         message= _ "But, where is the mage who had the capability of casting such a spell?"
      [/message]
      [delay]
         time=350
      [/delay]
      [unit]
         side=1
         id="Morin"
         gender=male
         unrenameable=yes
         name= _ "Morin"
         animate=yes
         profile="portraits/morin.png"
         type="Wandering Sage"
         x,y=10,2
         {IS_HERO}
         [modifications]
            {TRAIT_LOYAL}
            {TRAIT_AGED}
         [/modifications]
      [/unit]
      [message]
         speaker="Morin"
         message= _ "Where is the dark mage?!"
      [/message]
      [message]
         speaker="Ariana"
         message= _ "We are investigating the same thing, but we cannot locate him."
      [/message]
      [message]
         speaker="Morin"
         message= _ "It doesn't matter. The important thing is that on one was injured."
      [/message]

      [delay]
         time=250
      [/delay]

      [message]
         speaker="Galec"
         message= _ "Who may you be, stranger?"
      [/message]
      [message]
         speaker="Morin"
         message= _ "My name is Morin and I am a sage. I travel the lands in search of knowledge and locations, where I may teach my wisdom."
      [/message]
      [message]
         speaker="Sadia"
         message= _ "Nice to meet you, Morin. My name is Sadia and <i>(pointing at Ariana)</i> this is my friend, Ariana."
      [/message]
      [message]
         speaker="Ariana"
         message= _ "Nice to meet you as well."
      [/message]
      [message]
         speaker="Sadia"
         message= _ "<i>(pointing at Fardin)</i> This fighter is Fardin, and <i>(pointing at Jahin)</i> that one is Jahin."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "Hello, my name be Fardin."
      [/message]
      [message]
         speaker="Jahin"
         message= _ "And my name is Jahin."
      [/message]
      [message]
         speaker="Galec"
         message= _ "I am Galec, captain among the elves of the Last Forest."
      [/message]
      [message]
         speaker="Kojac"
         message= _ "Kojac, high chief among the orcs, trying to claim his rightful throne."
      [/message]
      [message]
         speaker="Krog"
         message= _ "Krog, troll. Krog helping Jahin to reclaim home."
      [/message]
      [message]
         speaker="Morin"
         message= _ "You all seem to be an interesting group. What is your common objective?"
      [/message]
      [message]
         speaker="Kojac"
         message= _ "To conquer Cavan, the orcish city that lies westward."
      [/message]
      [message]
         speaker="Morin"
         message= _ "Are you in need of the services of a mage? I can offer my magic and knowledge of warfare in exchange for food and drink."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "That would be great. Welcome to the group."
      [/message]
      [delay]
         time=1000
      [/delay]
      [message]
         speaker="Jahin"
         message= _ "Now, that this is over, we ought to resume our council."
      [/message]
      [message]
         speaker="Galec"
         message= _ "So, we need gold for this coming battle and we have almost depleted up our current amount."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "I have the solution to that problem."
      [/message]
      [message]
         speaker="Galec"
         message= _ "Please share."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "Krog, do you remember the place where we left a massive pile of gold?"
      [/message]
      [message]
         speaker="Krog"
         message= _ "Krog remembers."
      [/message]
      [message]
         speaker="Fardin"
         message= _ "Take some trolls to retrieve it. That gold will be invaluable to us for the coming battle."
      [/message]
      [message]
         speaker="Krog"
         message= _ "Krog move out with trolls immediately."
      [/message] 
      [message]
         speaker="Jahin"
         message= _ "Let's call it a night. We got a long day's march ahead of us."
      [/message]
      [message]
         speaker="Kojac"
         message= _ "I couldn't agree more. I need the rest."
      [/message]
      [message]
         speaker="Galec"
         message= _ "I shall have my elves patrol the perimeter to look out for anymore assassins. Better sat than sorry!"
      [/message]
      [endlevel]
         result="victory"
         {NEW_GOLD_CARRYOVER 100}
         bonus=no
         linger_mode=no
         carryover_report=no
         replay_save=no
      [/endlevel]
   [/event]

[/scenario]