#textdomain wesnoth-The_Legend_Begins

[scenario]
    id="38x_Meet_the_Leaders"
    name= _ "Meet the Leaders"
    map_data="{~add-ons/The_Legend_Begins/maps/38x_Meet_the_Leaders.map}"

   next_scenario="39_Realm_of_Fire"

   {UNDERGROUND}

   {DEFAULT_MUSIC_PLAYLIST}

   victory_when_enemies_defeated=no
   
   turns="-1"

   [side]
      side=1
      team_name="good"
      user_team_name= _ "New Genesis"
      id="Jahin"
      name= _ "Jahin" 
      type="Captain"
      {FLAG_VARIANT loyalist}
      canrecruit=yes
      fog=no
      share_view=yes
      village_gold=1
      share_map=no
      controller=human
      recruit="Bladesman,Bowman,Cavalryman,Cavalry Archer,Faerie Sprite"
      gold=0
      income=-2
   [/side]

   [side]
      side=2
      team_name="good"
      user_team_name= _ "Dwarves"
      {FLAG_VARIANT knalgan}
      id="King Glamatus"
      name= _ "King Glamatus"
      type="Dwarvish Arcanister"
      profile="portraits/glamatus.png"
      canrecruit=yes
      controller=ai 
   [/side]

   [side]
      side=3
      team_name="good"
      user_team_name= _ "Southern Elves"
      {FLAG_VARIANT long}
      id="King Norfildor"
      name= _ "King Norfildor"
      type="South Elven Champion"
      canrecruit=yes
      controller=ai 
   [/side]

   [side]
      side=4
      team_name="good"
      user_team_name= _ "Humans"
      {FLAG_VARIANT ragged}
      id="Jalin"
      name= _ "Jalin"
      type="Human Warlord"
      canrecruit=yes
      controller=ai 
   [/side]

   [side]
      side=5
      team_name="good"
      user_team_name= _ "Merfolk"
      {FLAG_VARIANT loyalist}
      id="Kai Alastyn"
      name= _ "Kai Alastyn"
      type="Merman Triton"
      canrecruit=yes
      controller=ai 
   [/side]

   [side]
      side=6
      team_name="good"
      user_team_name= _ "Carapace"
      {FLAG_VARIANT long}
      id="Lord Tirax"
      name= _ "Lord Tirax"
      type="Warrior Carapace"
      canrecruit=yes
      controller=ai 
   [/side]

   [side]
      side=7
      team_name="good"
      user_team_name= _ "Dwarves"
      {FLAG_VARIANT knalgan}
      id="Lord Dulatil"
      name= _ "Lord Dulatil"
      type="Dwarvish Lord"
      canrecruit=yes
      controller=ai 
   [/side]

   [event]
      name="prestart"

      [recall]
         id="Calewen"
      [/recall]

      {MOVE_UNIT (id="Calewen") 7 11}
      [modify_unit]
         [filter]
            id="Calewen"
         [/filter]
         side=3
      [/modify_unit]
      
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 9 4}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 13 4}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 11 12}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 15 12}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 16 6}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 17 9}
      {GENERIC_UNIT 7 "Dwarvish Sentinel" 12 13}

      [unit]
         id="Deliowen"
         name= _ "Deliowen"
         type="Sun Priestess"
         side=3
         {IS_HERO}
         x,y=7,10
      [/unit]

      [unit]
         id="Trithdrol"
         name= _ "Trithdrol"
         x,y=12,5
         side=1
         unrenameable=yes
         type="Dwarvish Soldier"
         {IS_LOYAL}
         [modifications]
             {TRAIT_LOYAL}
             {TRAIT_QUICK}
         [/modifications]
      [/unit]
   [/event]

   [story]
      [part]
         music="underground.ogg"
         story= _ "The elven princess ran ahead, while Jahin and his friends walked uneasily behind as the subterranean tunnels reminded them of the time they had faced the endless legions of undead. In about an hour or so, for they couldn't tell how much time had passed underground, a magnificent city stood in front of them..."  
      [/part]
   [/story]

   [event]
       name="start"
       
       [message]
           speaker="narrator"
           image="wesnoth-icon.png"
           message= _ "Jahin emerges into a vast underground cavern. The walls are decorated with runes of various colors and different levels of luminescence. In front of them is a mighty fortress, with dwarven guards stationed in most of the battlements. As Jahin looks towards the centre of the fortress, he sees an elderly dwarf beckoning him to come forward. Realizing that this unusual crowd of people is eager to know him, he walks towards them. Fairuz and the others shortly join him..."
       [/message]

       {MOVE_UNIT (id="Jahin") 8 6}

       [recall]
          id="Fairuz"
       [/recall]
       [recall]
          id="Affan"
       [/recall]
       [recall]
          id="Ashhab"
       [/recall]
       [recall]
          id="Amorith"
       [/recall]

       {DELAY 200}

       [message]
          speaker="Calewen"
          message= _ "Father, here are my rescuers."
       [/message]
       [message]
          speaker="King Norfildor"
          message= _ "Greetings and thank you, humans. I wish I could congratulate you all more heartily, but it seems that I must make haste to the western gate and help that old dwarf."
       [/message]
       [message]
          speaker="Lord Dulatil"
          message= _ "I'll be coming with ya. My men need some exercise too!"
       [/message]

       {MOVE_UNIT (id="King Norfildor") 1 3}
       [kill]
          id="King Norfildor"
          animate=no
       [/kill]

       {MOVE_UNIT (id="Lord Dulatil") 1 3}
       [kill]
          id="Lord Dulatil"
          animate=no
       [/kill]

       [message]
          speaker="Deliowen"
          message= _ "Sister, you must be awfully tired. Come, let's freshen you up."
       [/message]
       [kill]
          id="Deliowen"
          animate=no
       [/kill]
       [kill]
          id="Calewen"
          animate=no
       [/kill]

       {DELAY 500}
       
       [message]
          speaker="King Glamatus"
          message= _ "Welcome to the dwarven city of Terrogean, humans. I am King Glamatus, ruler of the dwarves."
       [/message]
       [message]
          speaker="Jahin"
          message= _ "Greetings your Highness, my name is Jahin and these are my friends. We come from Genesis, a city north of here."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "You come from the North? I never had travelers from there before. Please stay and rest here a few nights. I am very anxious to hear about what lies north of here."
       [/message]
       [message]
          speaker="Jahin"
          message= _ "I am sorry your Highness, but my friends and I are in a hurry. You see, a dark wizard had cursed our city. Every night, fallen warriors rise from the dead and create havoc in our city."
       [/message]
       [message]
          speaker="Fairuz"
          message= _ "And we must acquire the White Sapphire before our city falls..."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "I am truly sorry to hear that. Things are not so well here too. We are pressed from both sides by enemies that seek our destruction. The demons and their henchmen attack us from the west, while those vampires and their accursed forest allies - the woodlanders - attack from the east."
       [/message]
       [message]
          speaker="Jahin"
          message= _ "Well, your Highness, if you join our alliance, we could provide you support..."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "Your alliance?"
       [/message]
       [message]
          speaker="Jahin"
          message= _ "A few years ago, the free races of the north joined together to stand up against the vampires and the human legions to the far east. We have the entirety of the north under our control."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "The entirety of the north under your control?! Yours must be a strong alliance indeed."
       [/message]
       [message]
          speaker="Fairuz"
          message= _ "And we are still looking for more allies. King, are you interested to join?"
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "Yes, but my people are already part of another alliance. This is Jalin, the founder of the alliance."
       [/message]
       [message]
          speaker="Jalin"
          message= _ "Greetings, fellow humans. I come from a land beyond the southern seas. Our alliance consists of the elves, dwarves, mermen, carapaces and the free humans from the west."
       [/message]
       [message]
          speaker="Jahin"
          message= _ "The free humans from the west? Are you referring to the ones with black armor?"
       [/message]
       [message]
          speaker="Jalin"
          message= _ "No, I'm not talking about the Chaos legions or the imperialists. I'm talking about the inhabitants of the valley to the south-west."
       [/message]
       [message]
          speaker="Fairuz"
          message= _ "That's a relief, but will you join our alliance?"
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "Certainly, we must stand united against the forces of evil!"
       [/message]
       [message]
          speaker="Ashhab"
          message= _ "King Glamatus, do you know if there is a chamber of lava nearby. The White Sapphire is located there."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "Yes, there is one through yonder northern gate. I advise you not to go there. I remember a human mage going in there searching for a sword of fire, but she never came back."
       [/message]
       [message]
          speaker="Jahin"
          message= _ "Our peoples' lives depend on the White Sapphire. We're going there no matter what danger awaits us! Besides if the mythical <i>Dragonheart</i> is there as well, the adventure will be worth it."
       [/message]
       [message]
          speaker="King Glamatus"
          message= _ "Very well. I will place Trithdrol, one of my strongest fighters, under your command. Beware though, he is a bit unstable."
       [/message]
       [message]
          speaker="Jalin"
          message= _  "Jahin, allow my men and I to accompany you. I'm interested in this Dragonheart."
       [/message]

       # Does this sound a bit mathematical, as I always was a math wiz???

       [message]
          speaker="Jahin"
          message= _ "Certainly. There is strength in numbers!"
       [/message]

       [endlevel]
          result="victory"
          {NEW_GOLD_CARRYOVER 100}
          replay_save=no
          bonus=no
          linger_mode=no
          carryover_report=no
       [/endlevel]
   [/event]

[/scenario]