#textdomain wesnoth-The_Legend_Begins

[event]
   name="last breath"
   [filter]
      id="Jahin"
   [/filter]
   [message]
      speaker="unit"
      message= _ "I can't die now, I still have much more to do."
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Jahin"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]

[event]
   name="last breath"
   [filter]
      id="Sadia"
   [/filter]
   [message]
      speaker="unit"
      message= _ "This can't be the end! Or is it?"
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Sadia"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]

[event]
   name="last breath"
   [filter]
      id="Affan"
   [/filter]
   [message]
      speaker="unit"
      message= _ "Ouch! This is what death feels like?!"
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Affan"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]

[event]
   name="last breath"
   [filter]
      id="Fairuz"
   [/filter]
   [message]
      speaker="unit"
      message= _ "No, my friends need me!"
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Fairuz"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]

[event]
   name="last breath"
   [filter]
      id="Ashhab"
   [/filter]
   [message]
      speaker="unit"
      message= _ "I deserved better than this!"
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Ashhab"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]

[event]
   name="last breath"
   [filter]
      id="Krog"
   [/filter]
   [message]
      speaker="unit"
      message= _ "Trolls will not help Jahin without Krog!"
   [/message]
[/event]

[event]
   name=die
   [filter]
       id="Krog"
   [/filter]
   [endlevel]
       result=defeat
   [/endlevel]
[/event]
