#textdomain wesnoth-The_Legend_Begins

# Temporary character deaths
# This is a list of recurring characters throughout the campaign
# and their death events

# Kojac, orcish archer

[event]
   name="last breath"
   [filter]
      id="Kojac"
   [/filter]
   [message]
      speaker="unit"
      message= _ "Sorry, I have failed you, Jahin. May you have victory without me."
   [/message]
   [message]
      speaker="Jahin"
      message= _ "Rats! Without him, we can't have the orcs ally with us! We're doomed!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Kojac"
   [/filter]
   [endlevel]
      result="defeat"
   [/endlevel]
[/event]

# Gioviel, elvish avatar
# An Elven Elementalist
[event]
   name="last breath"
   [filter]
      id="Gioviel"
   [/filter]
   [message]
       speaker="Jahin"
       message= _ "The elves won't help us anymore, now that she is dead!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Gioviel"
   [/filter]
   [endlevel]
       result="defeat"
   [/endlevel]
[/event]

# Crylix, loyal saurian skirmisher, whom you rescue in scenario 4.
# If you fail to rescue this guy, then you are a sucker!
[event]
   name=last breath
   [filter]
      id="Crylix"
   [/filter]
   [message]
      speaker="narrator"
      image="wesnoth-icon.png"
      message= _ "This saurian would have been a great help to our heroes when they sought help from the saurians. But now, they have to struggle for gaining the allies."
   [/message]
[/event]

# Galsh, loyal drake fighter

[event]
   name="last breath"
   [filter]
      id="Galsh"
   [/filter]
   [message]
      speaker="unit"
      message="Argh!"
   [/message]
   [message]
      speaker="Jahin"
      message= _ "He was mighty fighter and will be missed."
   [/message]
[/event]

# Galec, hero, Elvish Captain

[event]
   name="last breath"
   [filter]
      id="Galec"
   [/filter]
   [message]
      speaker="Galec"
      message= _ "Farewell friends, I now go to join my ancestors."
   [/message]
   [message]
      speaker="Jahin"
      message= _ "We have let the elven captain die! This is a disaster!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Galec"
   [/filter]
   [endlevel]
      result="defeat"
   [/endlevel]
[/event]

# Tarcyn, loyal Aragwaith Strongbow

[event]
   name="last breath"
   [filter]
      id="Tarcyn"
   [/filter]
   [message]
      speaker="Jahin"
      message= _ "He was a good commander and will be missed."
   [/message]
[/event]

# Kraag, loyal drake glider

[event]
   name="last breath"
   [filter]
      id="Kraag"
   [/filter]
   [message]
      speaker="Kraag"
      message= _ "Argh!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Kraag"
   [/filter]
   [message]
      speaker="Jahin"
      message= _ "We needed him as our messenger during this war! We're screwed now."
   [/message]
   [endlevel]
      result=defeat
   [/endlevel]
[/event]

# Ruk, loyal Orcish Sorcerer

[event]
   name="die"
   [filter]
      id="Ruk"
   [/filter]
   [message]
      speaker="Kojac"
      message= _ "Without the elder shaman we cannot recruit shamans or ogres anymore."
   [/message]
   [disallow_recruit]
      side=7
      type="Orcish Shaman,Young Ogre"
   [/disallow_recruit]
[/event]

# Greth, loyal drake glider

[event]
    name="die"
    [filter]
       id="Greth"
    [/filter]
    [message]
       speaker="Jahin"
       message= _ "It's a shame that we let him get killed. He could have been a useful scout."
    [/message]
[/event]

# Gashinar , High Dominant, Drake Enforcer

[event]
   name="die"
   [filter]
      id="Gashinar"
   [/filter]
   [message]
      speaker="Jahin"
      message= _ "Without the Drake Lord, the drakes will not be our allies anymore! All is lost now..."
   [/message]
   [endlevel]
      result=defeat
   [/endlevel]
[/event]

# Zayed, loyal cavalry

[event]
    name="die"
    [filter]
       id="Zayed"
    [/filter]
    [message]
       speaker="Zayed"
       message= _ "No! I didn't get to have any real adventures yet!"
    [/message]
[/event]

# Amorith, hero Fire Faerie
# Episode 2 only character

[event]
   name="last breath"
   [filter]
      id="Amorith"
   [/filter]
   [message]
       speaker="unit"
       message= _ "I never knew my demise would come so soon!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Amorith"
   [/filter]
   [endlevel]
       result="defeat"
   [/endlevel]
[/event]

# Jalin, hero Human Chieftain
# Episode 2 only character

[event]
   name="last breath"
   [filter]
      id="Jalin"
   [/filter]
   [message]
       speaker="unit"
       message= _ "After years of fighting, I meet my end like this?! Unacceptable!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Jalin"
   [/filter]
   [endlevel]
       result="defeat"
   [/endlevel]
[/event]

# Trithdrol, Dwarven Warrior

# Apparently the same name is
# used by the main character of
# one of earlier works - 
# S T A R T  O F  T H E  W A R

[event]
   name="last breath"
   [filter]
      id="Trithdrol"
   [/filter]
   [message]
       speaker="unit"
       message= _ "This is not what I enlisted for!"
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Unknown Lord"
   [/filter]
   [message]
      speaker="narrator"
      image="wesnoth-icon.png"
      message= _ "The spectral being vanishes into thin air..."
   [/message]
[/event]

[event]
   name="die"
   [filter]
      id="Rygwyn"
   [/filter]
   [message]
      speaker="Jahin"
      message= _ "Another good soldier has died for our cause."
   [/message]
[/event]
