#textdomain wesnoth-The_Legend_Begins

[event]
    name="time over"
    [message]
        speaker="narrator"
        image="wesnoth-icon.png"
        message= _ "You have failed to complete the scenario within the defined time limit. Please try again."
    [/message]
[/event]